{% set THEME_URL = "https://github.com/oldherl/telosuli" %}

{% set SEPARATION_STR = " // " %}

{% set SOCIAL = "social" %}

{% set HOME = "home" %}

{% set BLOG = "blog" %}
{% set PAGES = "pages" %}
{% set LINKS = "links" %}

{% set ARCHIVES = "archives" %}
{% set SIMILAR_ARTICLES = "similar articles" %}

{% set AUTHOR = "author" %}
{% set AUTHORS = "authors" %}
{% set AUTHOR_S = "author(s)" %}

{% set CATEGORY = "category" %}
{% set CATEGORIES = "categories" %}

{% set ARTICLES = "articles" %}

{% set GALLERY = "gallery" %}

{% set TAG = "tag" %}
{% set TAGS = "tags" %}

{% set PREVIOUS = "prev" %}
{% set NEXT = "next" %}

{% set NEWER = "newer" %}
{% set OLDER = "older" %}

{% set POSTED = "posted" %}
{% set MODIFIED = "modified" %}

{% set ATOM = "atom" %}
{% set RSS = "rss" %}
